:root {
    --background-white: #ffffff;

    --font-dark-grey: #464646;
    --font-black: #000000;
    --font: "Raleway", sans-serif;
}

body {
    font-family: var(--font);
    font-weight: 400;
    color: var(--font-black);
    padding: 0.8rem;
}

html {
    min-width: 300px;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Base section styles */
.section {
    margin: 1rem 0;
    padding: 1rem 0;
}
.section__title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
    body {
        padding: 1rem 2rem;
    }

    .section {
        margin: 3rem 0;
    }
}

@media screen and (min-width: 1024px) {
    body {
        padding: 2rem 5rem;
    }
}
