.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.grid__item {
    width: 20%;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.grid__icon {
    width: 70%;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    .grid__item {
        width: 10%;
    }
    .grid__icon {
        margin-bottom: 1rem;
    }
}
