.home .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    margin: 3rem 0;
}

.home__img {
    width: 50%;
    border-radius: 100%;
}
.home__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.home__title {
    font-size: 1.4rem;
    font-weight: 700;
}
.home__text {
    font-size: 0.9rem;
}

.home__container-links {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.home__link {
    display: flex;
    align-items: center;
    gap: 4px;

    text-decoration: none;
    color: var(--font-black);
    font-size: 0.9rem !important;
    font-weight: 500;

    padding: 0.25rem 0.6rem;
    border: 1px solid #000;
    border-radius: 5px;
}
.home__link:hover {
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .home .container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .home__img {
        width: 40%;
    }
    .home__content {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .home__title {
        font-size: 3.1rem;
        margin-bottom: 1rem;
    }

    .home__text {
        font-size: 1.2rem;
    }
    .home__link {
        font-size: 1.2rem;
    }
}
