.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

.introduction__img {
    width: 50%;
    border-radius: 100%;
}
.introduction__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.introduction__title {
    font-size: 1.4rem;
    font-weight: 700;
}
.introduction__text {
    font-size: 0.9rem;
}

.introduction__container-links {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.introduction__link {
    display: flex;
    align-items: center;
    gap: 4px;

    text-decoration: none;
    color: var(--font-black);
    font-size: 0.9rem !important;
    font-weight: 500;

    padding: 0.25rem 0.6rem;
    border: 1px solid #000;
    border-radius: 5px;
}
.introduction__link:hover {
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .introduction {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .introduction__img {
        width: 30%;
    }
    .introduction__content {
        width: 65%;
    }
}

@media screen and (min-width: 1024px) {
    .introduction__title {
        font-size: 3.1rem;
        margin-bottom: 1rem;
    }

    .introduction__text {
        font-size: 1.2rem;
    }
    .introduction__link {
        font-size: 1.2rem;
    }
}
