.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.introduction__img {
    width: 30%;
    border-radius: 100%;
}

.introduction__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem 0;
}
.introduction__text {
    font-size: 0.9rem;
    margin: 1rem 0;
}

.introduction__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.introduction__link {
    display: flex;
    align-items: flex-end;

    text-decoration: none;
    color: var(--font-black);
    font-size: 0.9rem;
}
.introduction__icon {
    font-size: 1rem;
    margin-left: 4px;
}

@media screen and (min-width: 768px) {
    .introduction {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .introduction__content {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .introduction__title {
        font-size: 3.1rem;
        margin-bottom: 2rem;
    }

    .introduction__text {
        font-size: 1.2rem;
    }
    .introduction__link {
        font-size: 1.2rem;
    }
}
