.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.menu div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menu__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu__list {
    display: none;
}

.menu__icon {
    color: var(--font-dark-grey);
}
.menu__title {
    color: var(--font-dark-grey);
    font-weight: 700;
}

.menu__link {
    text-decoration: none;
    color: var(--font-black);
}
.menu__link-contact {
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .menu__link-contact {
        font-weight: 700;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu__list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
