.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu div {
    display: flex;
    align-items: center;
}
.menu__nav {
    display: flex;
    align-items: center;
}
.menu__list {
    display: none;
    align-items: center;
}
.menu__item {
    margin: 0 1rem;
}

.menu__icon {
    color: var(--font-dark-grey);
    margin-right: 0.5rem;
}
.menu__title {
    color: var(--font-dark-grey);
    font-weight: 700;
}

.menu__link {
    font-weight: 400;
    text-decoration: none;
    color: var(--font-dark-grey);
}
.menu__link-contact {
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .menu__link-contact {
        font-weight: 700;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu__list {
        display: flex;
    }
    .menu__link-contact {
        margin-left: 1rem;
    }
}
