.projects__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

.project__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
}
.project__img {
    width: 100%;
    aspect-ratio: 1.68;
    object-fit: cover;
    border-radius: 0.5rem;
}
.project__title {
    font-size: 1.3rem;
    font-weight: 700;
}

.project__icons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.project__icon {
    width: 2.5rem;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.project__text {
    font-weight: 400;
}

.project__buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.project__button {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;

    padding: 0.5rem;
    background-color: var(--font-dark-grey);
    border-radius: 5px;
}
.project__button:hover{
    background-color: crimson;
}

@media screen and (min-width: 768px) {
    .projects__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .project__card {
        width: 40%;
    }
}
