.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    padding-top: 2rem;
}
.section__title {
    font-size: var(--subtitle-font-size);
    font-weight: 700;
    margin: 0.5rem 0;
    color: var(--title-color);
}

.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/* ==================== MENU ==================== */
.menu {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo {
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}
.menu__logo:hover {
    color: var(--link-accent);
}
.menu__list {
    display: none;
}
.menu__link {
    text-decoration: none;
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: var(--title-color);
}
.menu__link:hover {
    color: var(--link-accent);
}

@media screen and (min-width: 1024px) {
    .menu__list {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}

/* ==================== HOME ==================== */
.home .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    margin: 3rem 0;
}

.home__img {
    width: 50%;
    border-radius: 100%;
}
.home__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.home__subtitle {
    font-size: var(--subtitle2-font-size);
}
.home__title {
    font-size: var(--title-font-size);
    font-weight: 700;
    color: var(--title-color);
}
.home__text {
    margin-bottom: 1rem;
    font-size: var(--normal-font-size);
}

@media screen and (min-width: 768px) {
    .home .container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .home__img {
        width: 40%;
    }
    .home__content {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .home__title {
        font-size: var(--super-title-font-size);
        margin-bottom: 1rem;
    }
}

/* ==================== ABOUT ME ==================== */
.about-me__content {
    text-align: center;
}

/* ==================== SKILLS ==================== */

/* ==================== HOBBIES ==================== */
#hobbies iconify-icon {
    color: var(--title-color);
}
#hobbies iconify-icon {
    font-size: 2rem;
}

/* ==================== EDUCATION ==================== */
.education__img {
    aspect-ratio: 2;
    object-fit: contain;
}

.education__institute {
    color: var(--text-color);
}
.education__date {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--text-color-light);
}

/* ==================== PORTFOLIO ==================== */
.project__card {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* ==================== CONTACT ==================== */

/* ==================== FOOTER ==================== */
.footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .section {
        margin: 2rem 0;
    }
}
