.section {
    margin: 0.5rem 0;
    padding-top: 1rem;
}

.section__title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
    .section {
        margin: 2rem 0;
    }
}
